* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

:root {
    --bg-color: #080808;
    --bg-color2:#161616;
    --text-color: white;
    --main-color: #00ffee;
}

body {
    background-color: var(--bg-color2);
    color: var(--text-color);
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: linear-gradient(rgba(0, 0, 0, 0.1), #0ef);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;

}

#menu-icon {
    font-size: 3.5rem;
    color: black;
    display: none;
}



.logo {
    position: relative;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}
@media (max-width:995px) and (min-width:769px){
    #menu-icon{
   margin-right: -10vw;
    }
}
@media (max-width: 768px) {
    .header {
        padding: 10px 5%;
    }

    #menu-icon {
        display: block;
        cursor: pointer;
    }

    .logo {
        font-size: 20px;
    }
}

@media (max-width: 480px) {
    .header {
        padding: 10px 2%;
    }

    .logo {
        font-size: 18px;
    }

    #menu-icon {
        font-size: 1rem;
        padding:5px;
    }
}

@media (max-width:995px) {
    #menu-icon {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: end;
    }

    .navbar {
        position: absolute;
        top: 100%;
        right: 0;
        width: 40%;
        border-left: 3px solid var(--main-color);
        border-bottom: 3px solid var(--main-color);
        border-bottom-left-radius: 2.1rem;
        padding: 1.1rem 3%;
        background-color: var(--bg-color2);
        border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
        display: none;
        max-height: 800px;
        min-height: 700px;
        height: 80vh;
        max-width: 350px;
        padding-right: 5%;
    }

    .navbar.active {
        display: block;
    }

    .navbar a {
        display: block;
        font-size: 1rem;
        margin: 3rem 0;
    }

    .navbar a:hover,
    .navbar a.active {
        padding: 0.5rem;
        border-radius: 0.5rem;
        border-bottom: 0.5rem solid var(--main-color);
    }

}

.navbar a {
    display: inline-block;
    font-size: 25px;
    color: var(--text-color);
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.navbar a:hover {
    color: var(--main-color);
}

/* home stylling */
.home {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;


}

.rightsection {
    display: flex;
    justify-content: center;
    align-items: center;
}

.rightsection img {
    position: relative;
    width: 50%;
    box-shadow: 0 8px 16px rgba(0, 255, 238, 0.2), 0 12px 24px rgba(0, 255, 238, 0.19);
    border-radius: 50%;
    transition: box-shadow 0.5s ease, transform 0.5s ease;
}

.rightsection img:hover {
    box-shadow: 0 16px 32px rgba(0, 255, 238, 0.3), 0 24px 48px rgba(0, 255, 238, 0.22);
    transform: scale(1.1);
}


.home-content h3 {
    margin-bottom: 1rem;
    font-size: 32px;
    font-weight: 700;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: .7s;
}

.home-content h1 {
    font-size: 55px;
    font-weight: 700;
    margin: -3px 0;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 1s;
}

.home-content h3 span {
    color: var(--main-color)
}

.home-content h3:nth-of-type(2) {
    margin-bottom: 30px;
    animation: slideRight 1s ease forwards;
    animation-delay: .7s;

}

.home-content p {
    font-size: 20px;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s;
}

.home-sci a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid var(--main-color);
    border-radius: 50%;
    font-size: 20px;
    color: var(--main-color);
    text-decoration: none;
    transition: .5s ease;
    margin: 30px 15px 30px 0;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.2s*var(--i));
}

.home-sci a:hover {
    background-color: var(--main-color);
    color: #081b29;
    box-shadow: 0 0 20px var(--main-color);
}

.btnbox {
    display: inline-block;
    text-decoration: none;
    background-color: var(--main-color);
    border-radius: 40px;
    font-size: 16px;
    color: #081b29;
    letter-spacing: 1px;
    font-weight: 600;
    padding: 12px 28px;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: 2s;
    box-shadow: 0 0 5px var(--main-color),
        0 0 25px var(--main-color);
}

.btnbox:hover {
    box-shadow: 0 0 5px cyan,
        0 0 25px cyan, 0 0 50px cyan,
        0 0 100px cyan, 0 0 200px cyan;
}

@media (max-width:1000px) {
    .home {
        gap: 4rem;
    }
}

@media(max-width:995px) {
    .home {
        flex-direction: column;
        
    }

    .home .home-content h3 {
        font-size: 2.5rem;
    }

    .home-content h1 {
        font-size: 5rem;
    }

    .rightsection img {
        width: 70vw;
        margin-top: 4rem;
    }


}
@media (max-width: 768px) {
    .home {
        flex-direction: column;
        height: auto;
        padding: 20px 5%;
    }

    .rightsection img {
        width: 70%;
    }

    .home-content h1 {
        font-size: 40px;
    }

    .home-content h3 {
        font-size: 24px;
    }

    .home-content p {
        font-size: 18px;
    }
}

@media (max-width: 480px) {
    .rightsection img {
        width: 90%;
    }

    .home-content h1 {
        font-size: 32px;
    }

    .home-content h3 {
        font-size: 20px;
    }

    .home-content p {
        font-size: 16px;
    }

    .home-sci a {
        width: 30px;
        height: 30px;
        font-size: 16px;
    }

    .btnbox {
        font-size: 14px;
        padding: 10px 20px;
    }
}

@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slideTop {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }

}

@keyframes slideBottom {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }

}

@keyframes slideLeft {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

.about {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    align-items: center;
    gap: 1.5rem;
    margin: 80px;


}

.about-img img {
    width: 50%;
    margin: 50px 0;
    box-shadow: 0 8px 16px rgba(0, 255, 238, 0.2), 0 12px 24px rgba(0, 255, 238, 0.19);
    border-radius: 50%;
    transition: box-shadow 0.5s ease, transform 0.5s ease;

}

.about-img img:hover {
    box-shadow: 0 16px 32px rgba(0, 255, 238, 0.3), 0 24px 48px rgba(0, 255, 238, 0.22);
    transform: scale(1.1);
}

.about-text h2 {
    font-size: 50px;
}

.about-text h3 {
    font-size: 30px;
    font-weight: 600;
    line-height: 1.7;
    margin: 15px 0 30px;
}

.about-text h2 span {
    color: var(--main-color);
}

.about-text p {
    color: aliceblue;
    margin-bottom: 4rem;
    font-size: 20px;


}

.about-img {
    display: flex;
    justify-content: center;
}
@media (max-width: 1200px) {
    

    .about-text h2 {
        font-size: 45px;
    }

    .about-text h3 {
        font-size: 28px;
    }

    .about-text p {
        font-size: 18px;
    }
}
@media (max-width:998px){
    .about{
        margin-top: 39%;
    }
}

@media (max-width: 768px) {
    .about {
        grid-template-columns: 1fr;
        margin: 40px;
    }

    .about-img img {
        width: 70%;
    }

    .about-text h2 {
        font-size: 40px;
    }

    .about-text h3 {
        font-size: 26px;
    }

    .about-text p {
        font-size: 16px;
    }
}

@media (max-width: 480px) {
    .about {
        margin: 20px;
    }
    .about-text {
        width: 100%;
    }

    .about-img img {
        width: 90%;
        margin-left: 0%;
    }

    .about-text h2 {
        font-size: 35px;
    }

    .about-text h3 {
        font-size: 33px;
        width: 100%;
    }

    .about-text p {
        font-size: 20px;
        width: 100%;
    }
}
@media (max-width:250px) {
.about-text p {
    width: 160%;
}
}
/* services stylling */

#services {
    color: var(--text-color);
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 4rem;
}

.subtitle {
    text-align: center;
    font-size: calc(1em + 4vw);
    padding-bottom: 30px;
}

.subtitle span {
    color: var(--main-color);

}

.container {
    padding: 45px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.services-list {
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 350px;
    grid-template-columns: repeat(auto-fit, minmax(259px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.services-list div {
    background-color: transparent;
    padding: 40px;
    font-size: 13px;
    font-weight: 13px;
    border-right: 10px;
    border-radius: 20px;
    transition: background 0.5s, transform 0.5s;
    box-shadow: 1px 1px 20px #012290f7,
        1px 1px 40px#0053b8f7;
}

.services-list div i {
    font-size: 50px;
    margin-bottom: 30px;
}

.services-list div h2 {
    font-size: calc(1em + 4vw);
    font-weight: 500;
    margin-bottom: 15px;
}

.services-list div a {
    text-decoration: none;
    color: #000000;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}

.read {
    display: inline-block;
    padding: 12px 28px;
    background-color: var(--main-color);
    border-radius: 40px;
    font-size: 16px;
    color: #081629;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
    box-shadow: 0 0 5px var(--main-color),
        0 0 25px var(--main-color);
}

.read:hover {
    box-shadow: 0 0 5px cyan,
        0 0 25px cyan, 0 0 50px cyan,
        0 0 100px cyan, 0 0 200px cyan;
}

.services-list div:hover {
    transform: translateY(-10px);
}

/* skills stylling */
.section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    /* width: 180vw; */
}

.container1 {
    width: 100%;
    max-width: 600px;
    padding: 20px;
    margin: 20px 0;
}

.heading1 {
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 5px;
    margin-bottom: 30px;
}

.bar {
    font-size: 18px;
}

.Technical-bars .bar {
    margin-top: 20px;
}

.Technical-bars .bar:first-child {
    margin-top: 0;
}

.Technical-bars .bar:last-child {
    margin-bottom: 0;
}

.Technical-bars .bar .info {
    margin-bottom: 5px;
}

.Technical-bars .bar .info span {
    font-size: 14px;
    font-weight: 500;
    animation: showText 0.5s 1s linear forwards;
    opacity: 0;
}

.Technical-bars .bar .progress-line {
    position: relative;
    border-radius: 10px;
    width: 100%;
    height: 5px;
    background-color: grey;
    animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
    transform: scaleX(0);
    transform-origin: left;
}

@keyframes animate {
    100% {
        transform: scaleX(1);
    }
}

.Technical-bars .bar .progress-line span {
    height: 100%;
    background-color: var(--main-color);
    position: absolute;
    border-radius: 10px;
    animation: animate 1s 1s cubic-bezier(1, 0, 0.5, 1) forwards;
    transform: scaleX(0);
    transform-origin: left;
}

.progress-line.html span {
    width: 85%;
}

.progress-line.CSS span {
    width: 60%;
}

.progress-line.Javascript span {
    width: 85%;
}

.progress-line.python span {
    width: 50%;
}

.progress-line.react span {
    width: 75%;
}

.progress-line span::after {
    position: absolute;
    padding: 1px 8px;
    background-color: #3d3838;
    color: #fff;
    font-size: 12px;
    border-radius: 3px;
    top: -28px;
    right: -20px;
    animation: showText 0.5s 1.5s linear forwards;
    opacity: 0;
}

.progress-line.html span::after {
    content: "98%";
}

.progress-line.CSS span::after {
    content: "60%";
}

.progress-line.Javascript span::after {
    content: "85%";
}

.progress-line.python span::after {
    content: "50%";
}

.progress-line.react span::after {
    content: "98%";
}

.progress-line span::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-bottom-width: 8px;
    border-right-width: 0px;
    top: -10px;
    right: 0;
    animation: showText 5.5s 1.5s linear forwards;
    opacity: 0;
}

@keyframes showText {
    100% {
        opacity: 1;
    }
}

.radial-bars {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center
}

.radial-bars .radial-bar {
    width: 45%;
    height: 178px;
    margin-bottom: 20px;
    position: relative;
}

.radial-bars .radial-bar svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-90deg);
    width: 120px;
    height: 160px;
}

.radial-bars .radial-bar .progress-bar {
    stroke-width: 10;
    stroke: grey;
    fill: transparent;
    stroke-dasharray: 502;
    stroke-dashoffset: 502;
    stroke-linecap: round;
    animation: animate-bar 1s linear forwards;
}

@keyframes animate-bar {
    100% {
        stroke-dashoffset: -1;
    }
}

.path {
    stroke-width: 10;
    stroke: var(--main-color);
    fill: transparent;
    stroke-dasharray: 502;
    stroke-dashoffset: 502;
    stroke-linecap: round;
}

.path-1 {
    animation: animate-path1 1s 1s linear forwards;
}

.path-2 {
    animation: animate-path2 1s 1s linear forwards;
}

.path-3 {
    animation: animate-path3 1s 1s linear forwards;
}

.path-4 {
    animation: animate-path4 1s 1s linear forwards;
}

@keyframes animate-path1 {
    100% {
        stroke-dashoffset: 50;
    }
}

@keyframes animate-path2 {
    100% {
        stroke-dashoffset: 175;
    }
}

@keyframes animate-path3 {
    100% {
        stroke-dashoffset: 125;
    }
}

@keyframes animate-path4 {
    100% {
        stroke-dashoffset: 75;
    }
}

.radial-bar .percentage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 14px;
    font-weight: 500;
    animation: showText 0.5s 1s linear forwards;
    opacity: 0;
}

.radial-bar .text {
    width: 100%;
    position: absolute;
    text-align: center;
    left: 50%;
    bottom: 5px;
    transform: translateX(-50%);
    font-size: 14px;
    font-weight: 500;
    animation: showText 0.5s 1s linear forwards;
    opacity: 0;
}

@media (max-width: 768px) {
    .container1 {
        width: 100%;
        padding: 20px;
        margin: 20px 0;
    }

    .Technical-bars .bar .info span {
        font-size: 14px;
    }

    .Technical-bars .bar .progress-line span::after {
        top: -20px;
        right: -15px;
    }

    .radial-bars .radial-bar {
        width: 100%;
        margin-bottom: 20px;
    }
}

@media (max-width: 480px) {
    .Technical-bars .bar {
        margin-top: 20px;
    }
    .section {
        width: 100%;
    }

    .heading1 {
        font-size: 20px;
        margin-bottom: 20px;
    }

    .radial-bar .percentage {
        font-size: 12px;
    }

    .radial-bar .text {
        font-size: 12px;
    }
}
@media (max-width:300px) {
    .section{
        width:160vw;
    }
}
@media(max-width:1240px) and (min-width:768px){
    .radial-bars{
        margin-left: 10%;
    }
}

/* projects stylling */
.main-text {
    padding-top: 50px;
    margin-top: 50px;
}

.main-text h2 {
    font-size: 30px;
    line-height: 1.2;
    text-align: center;
}

.main-text h2 span {
    color: var(--main-color);
}

.project-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
    gap: 20px;
    margin: 20px;
}

.project-content .row {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.project-content .row img {
    width: 100%;
    border-radius: 15px;
    margin: 20px 0; 
    display: block;
    transition: transform 0.5s;
    height: 100%;
}

.layer {
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.1), #8051ba91);
    position: absolute;
    border-radius: 15px;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0;
    transition: height 0.5s;
    margin: 0;
}

.layer h5 {
    color: #000;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
}

.layer p {
    color: #000;
    font-size: 1rem;
    line-height: 1.8;
}

.layer i {
    margin-top: 20px;
    font-size: 20px;
    background: grey;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.layer a {
    text-decoration: none;
}

.project-content .row:hover img {
    transform: scale(1.1);
}

.row:hover .layer {
    height: 100%;
}


@media (max-width: 768px) {
    .project-content {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }

    .layer h5 {
        font-size: 18px;
    }

    .layer p {
        font-size: 0.9rem;
    }
}

@media (max-width: 480px) {
    .project-content {
        grid-template-columns: 1fr;
    }

    .project-content .row img {
        margin: 10px 0;
    }

    .layer h5 {
        font-size: 16px;
    }

    .layer p {
        font-size: 0.8rem;
    }

    .layer i {
        width: 50px;
        height: 50px;
        font-size: 18px;
    }
}
/* contacts stylling */
.contact {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 3rem;
    padding-left: 30px;
    margin-top: 130px;
    width: 100%;
    background-color: #086a63;
}

@media (max-width: 768px) {
    .contact {
        grid-template-columns: 1fr;
        padding-left: 15px;
        padding-right: 15px;
    }
}

.contact-text h2 {
    font-size: 60px;
    line-height: 1;
    text-align: center;
}

.contact-text h2 span {
    color: #0ef;
}

.contact-text h4 {
    margin: 15px 0;
    color: rgb(228, 228, 228);
    font-size: 20px;
    font-weight: 600;
}

.contact-text p {
    color: rgb(177, 177, 177);
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 2rem;
}

.contact-list {
    margin-bottom: 3rem;
}

.contact-list li {
    margin-bottom: 10px;
    display: block;
}

.contact-list i {
    display: inline-block;
    color: #0ef;
    font-size: 20px;
    font-weight: 600;
    transition: all .4s ease;
}

.contact-list li a:hover {
    transform: scale(1.01) translateY(-5px);
    color: #0ef;
}

.contact-icons i {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 50%;
    font-size: 20px;
    color: #0ef;
    text-decoration: none;
    margin: 30px 15px 30px 0;
    transition: .5s ease;
    opacity: 0;
    animation: slideLeft .5s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.contact-icons i:hover {
    background: #0ef;
    color: #000;
    box-shadow: 0 0 20px #0ef;
}

.contact-form form {
    position: relative;
    margin: 20px;
    text-align: center;
}

.contact-form form input,
.contact-form form textarea {
    border: none;
    outline: none;
    width: 90%;
    padding: 18px;
    background: #555557;
    color: #000;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    border-radius: 0.5rem;
}

.contact-form textarea {
    resize: none;
    height: 220px;
}

.contact-form form .send {
    display: inline-block;
    padding: 14px 60px;
    background: #0ef;
    border-radius: 40px;
    font-size: 18px;
    color: #081629;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
    box-shadow: 0 0 5px #0ef,
                0 0 25px #0ef;
}

.contact-form form .send:hover {
    box-shadow: 0 0 5px cyan,
                0 0 25px cyan,
                0 0 50px cyan,
                0 0 100px cyan,
                0 0 200px cyan;
}

.last-text p {
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: rgb(7, 85, 91);
    font-weight: 300;
    margin-top: 70px;
}

.top {
    position: fixed;
    bottom: 2.1rem;
    right: 2.1rem;
}

.top i {
    color: #000;
    background: #0ef;
    font-size: 20px;
    padding: 10px;
    border-radius: 0.5rem;
}
